.photo-box-image-wrapper {
  display: block;
  height: 265px;
  overflow: hidden;
  position: relative;
}

.photo-feature-3-across .photo-feature {
  max-height: 350px;
  overflow: hidden;
}

.photo-grid-page .web-form {
  margin-bottom: 2rem
}

.uv-viewer-wrapper {
  margin-bottom: 2rem;
}

.item-detail-metadata p {
  margin-top: 0;
}
.item-detail-label {
  font-weight: bold;
}

.video-play-overlay {
    position: absolute;
    top: 0;
    height: auto;
    width: 100%;
}

.todo {
    color: green;
    border: 1px solid #efefef;
    background: #efefef;
    padding: 5px 10px;
}
