.photo-grid {
  article {
    p,
    .item-count {
      margin-top: .5rem;
    }
    .item-count {
      font: 14px/1.4em $AkkuratProBold;
      color: $rich-black-80;
    }
  }
}

// Collections sidebar
// Copied from #sidebar.box
// scss/page-types/standard-page/_main.scss:64
// .collections-sidebar {
//   background: $nu-purple-10;
//   padding: 1rem;
//   margin-bottom: 2rem;
//   font-size: 14px;
//   line-height: 1.4em;
//
//   h3 {
//       font: 18px/1.2em $CamptonBold;
//       color: $rich-black-80;
//   }
//
//   h4 {
//       font: 16px/1.2em $AkkuratProBold;
//       color: $rich-black-80;
//       margin-top: inherit;
//   }
//
//   ul {
//       padding-left: .5rem;
//
//       li {
//           background-position: 0 .3em
//       }
//   }
// }


// Collection Items page sidebar
.standard-page #sidebar.collections-sidebar {
  float: left;
  margin: 0;
  width: 30%;

  @media screen and (max-width: 700px) {
    width: 100%;
    float: none;
  }

  // "un-style" a standard NU <ul> list
  ul.no-style {
    padding-left: 0;

    li {
      background: none;
      padding-left: 0;
    }
  }

  // Form elements
  .web-form {
    input {
      width: 100%;
      padding-right: 30px;
    }
    .search-bar-wrapper {
      position: relative;
    }
    .sidebar-search-icon {
      position: absolute;
      top: 6px;
      right: 6px;
      cursor: pointer;
      color: $nu-purple;
      font-size: 1.3rem;
    }
  }
}

// Facets list styles
ul.facet-list {
  li {
    padding-right: 30px;
    position: relative;

    &.active {
      background: none;
      font-family: $AkkuratProBold;
    }

    .close {
      color: $nu-purple;
      position: absolute;
      left: 0;
      top: 1px;
      cursor: pointer;
    }

    .count {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
    }
  }
}
